.topo{
    background-color: #ffffff;
}

.logos{
  text-align: left;
  vertical-align: left;
}

.right-nav{
  margin-left: auto;
  display: flex; 

  li{
    border: #000000 solid 2px;  
    border-radius: 10px;
  }
}  

.bannerindex{
  align-items: center;
}

.banner {
  width: 100%;
}   

.nav-item{
  display: flex;
  align-items: center;

  a{
    font-size: 23px;
    color: rgb(255, 255, 255);
  }
}

.nav-item{ 
    a{
      margin-top: px;
      margin-right: 25px;
      margin-left: 25px;
       color: #000000;
    }
}

a.nav-link.active{
    color: white;
}


.banner-div{
  padding: 0 15px;
  margin: auto;  
  text-align: center;

  img{
    width: 100%;
  }
}
