.cards{
    padding: 30px;
    margin: auto;
    margin-top: 70px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    margin: 15px;
    width: 300px;
    transition: all .2s ease-in-out; 

    .card-body{
        width: 300px;
    }

    img{
        height: 300px;
        object-fit: cover;
    }
}

.card:hover{
    transform: scale(1.01); 
}

h2{
    margin-top: 30px;
    font-family: "monocraft";
}