.cards{
    width: 80%;
    margin: auto;
    margin-top: 70px;
    display: flex;
}

.card{
    width: 30%;
    margin: auto;
    transition: all .2s ease-in-out; 

    .card-body{
        height: 200px;
    }

    img{
        height: 400px; 
        object-fit: cover;
    }
}

.card:hover{
    transform: scale(1.01); 
}

h2{
    margin-top: 30px;
    font-family: "monocraft";
}